/*style resume*/
.resume {
    text-align: center;
    padding: 20px;
  }
  
  .cv-preview {
    max-width: 800px;
    margin: 20px auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
  }
  
.download-button {
    padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 0 10px 2px rgba(0, 0, 255, 0.8);
}
  
.download-button:hover {
    background-color: #3399ff;
    box-shadow: 0 0 20px 5px rgba(0, 0, 255, 0.9);
}